services:
  opensearch:
    image: opensearchproject/opensearch:2.18.0
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - 'OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m'
      - 'DISABLE_SECURITY_PLUGIN=true'
    ulimits:
      memory_lock:
        soft: -1
        hard: -1
    ports:
      - '9200:9200'
      - '9600:9600'

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.18.0
    ports:
      - '5601:5601'
    environment:
      - 'OPENSEARCH_HOST=["http://opensearch:9200"]'
      - 'DISABLE_SECURITY_DASHBOARDS=true'
    depends_on:
      - opensearch
